@{
    ViewBag.Title = "Gallery";
}


<!DOCTYPE html>

<html>

<head>
    <title></title>
    @Styles.Render("~/Content/GalleryPageStyles.css")
</head>


<body id="AboutView">

    <div id="PageCover">

    </div>
    <button id="Explore" title="Click to explore" onclick="MakeVisiable()">MENU</button>

    <div id="ItemBox">
            @n305.Models.Gallery.ControlMaker.Instance.CreateItemsForGallery(ViewBag.GalleryModel.GetItemList(), "GalleryItemsStyle", "ImageItemsStyle", "DescriptionItemsStyle")
    </div>
</body>
</html>
