

<!DOCTYPE html>
<head>
    <title></title>
    @Styles.Render("~/Content/HomePageStyles.css")

</head>

<script>

  function Transperent(element) {
        element.style.fontSize = "xx-large";
    }

  function Solid(element) {
      element.style.fontSize = "xx-large";
  }
</script>

<html>

<body id="HomePageBody">

    
</body>

</html>

